# Django
DJANGO_SECRET_KEY='your secret key'
DJANGO_DEBUG=False
DJANGO_SETTINGS_MODULE=friday_sommelier.settings

# DB
PGDATABASE=''
PGUSER=''
PGPASSWORD=''
PGHOST=''
PGPORT=5432

#Render
RENDER_EXTERNAL_HOSTNAME=<domain>